<!-- We'll have to figure out to how conditionally render the header to contain the Article title -->
<div class="expanded-container">
    <div class="intro-statement">
        <h3>Here is where text will go for the intro statement...</h3>
    </div>
    <div class="article-text">
        <p>Here is where the article text will go</p>
    </div>
    <!-- the comments div will act like a page seperator so that  -->
    <!-- I'm putting all the content info in this div -->
    <div class="comment-seperator">
        <div class="comment-title">
            <h1>Comments</h1>
        </div>
        <div class="comment-container">
            <div class="user-image"></div>
            <p>Here is where the text will go that a user adds as a comment. I Imagine we will probably map through or 'forEach' this div to render all of the neccesarry divs</p>
        </div>
    </div>
</div>
