

<!DOCTYPE html>
<html lang="en">
  
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Lemon Log</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      {% comment %} materialize JS {% endcomment %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
    <header>
        <nav>
            <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Lemon Log</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'home' %}">Home</a></li>
             
                <li><a href="">Create an Article</a></li>
                <li><a href=" {% url 'profile' %} ">Profile</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
               
                <li><a href=" {% url 'profile' %} ">Profile</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                
                <li><a href=" {% url 'login' %}">Log In</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
         
            </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
                <li><a href="{% url 'home' %}">Home</a></li>
                
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                
                <li><a href=" {% url 'login' %}">Log In</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
         
        </ul>
    </header>
    <main class='article-container' id='whole-container'>
    <!-- We'll have to figure out to how conditionally render the header to contain the Article title -->
        <div class="expanded-container">
            <div class="expanded-content">
                <div class="intro-statement">
                    <h3>Here is where text will go for the intro statement...</h3>
                </div>
                <div class="article-text">
                    <p>Here is where the article text will go</p>
                </div>
                <!-- the comments div will act like a page seperator -->
                <!-- I'm putting all the content info in this div -->
                <!-- comment title should allow a user to scroll both of these smaller divs so that  -->
            </div>
        </div>
        <div class="comments">
            <div class="comment-title">
                <h1 class="title-text">Comments</h1>
            </div>
            <div class="comment-container">
                <div class="user-image"><img src="" alt="" class="cirlce"></div>
                <p>Here is where the text will go that a user adds as a comment. I Imagine we will probably map through or 'forEach' this div to render all of the neccesarry divs</p>
            </div>
        </div>

    </main>

      <!--JavaScript at end of body for optimized loading-->
      <script src={% static 'js/main.js' %}></script>

</body>
</html>