{% extends 'base.html' %} 
{% block content %}
<div class='container'>
<h1 class='amber-text text-accent-2'>About Us</h1>
<p class='flow-text white-text'>
Lemon Log is the number one source for new technology reviews. We proud ourselves by producing quality reviews, and in depth analysis of the latest tech trends and gadgets to help 'you' the consumer make smart choices about the products you buy.
<br>
<br>
Just like you, we here at Lemon Log value and appreciate great tech, and we will always strive to provide the lastest information about the products you care about.
<br>
<br>
We appreciate your loyalty, and hope you enjoy the website.
<br>
<br>
All Rights Reserved, &copy; 2021 Lemon Log.
</p>
<h1 class='amber-text text-accent-2'>Developed Proudly By:</h1>
  <div class="row">
    <div class="col s12 m4 full-width">
      <div class="card">
        <div class="card-image">
          <img src="https://media-exp1.licdn.com/dms/image/C5603AQGluy2wnlnAhA/profile-displayphoto-shrink_800_800/0/1609636758701?e=1622073600&v=beta&t=-iBwPO7YH-U9C3Ue_O2UBdroNxqTqbfQpf2IUmySiBI">
        </div>
        <div class="card-content black">
          <span class="card-title amber-text text-accent-2">Raul Daniel Trejo</span>
          <p class='white-text'>
            Migrated to the United States with only $500, a small suitcase, and a dream to break into the tech industry. As a Software Engineer I embrace my unconventional background, native Spanish-speaking fluency and bi-cultural perspective to bring new ideas to the table. My background in Aeronautical Engineering also provides me with STEM knowledge and perspectives.
            <br>
            <br>
            Proud recipient of the Adobe Digital Academy scholarship, which offers career switchers the education and experience needed to launch a successful career in software engineering.
            <br>
            <br>
            JavaScript | HTML | CSS | React | Python | SQL | Bootstrap | SASS
            GitHub | Command Line | Heroku |
            VScode | Adobe XD | Chrome DevTools | Node.js
            Express | React | Postgres 
          </p>
        </div>
        <div class="card-action grey darken-3">
          <a href="https://www.linkedin.com/in/raultrejo/" target='_blank'>LinkedIn</a>
          <a href="https://github.com/rauldtrejo" target='_blank'>GitHub</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4 full-width">
      <div class="card">
        <div class="card-image">
          <img src="https://media-exp1.licdn.com/dms/image/C5603AQFp5X9juIGTug/profile-displayphoto-shrink_800_800/0/1517071485962?e=1622073600&v=beta&t=V3uWGD9o1KdRIcaBfbzcDE_iyaq1h5fKczgeQblLZiI">
        </div>
        <div class="card-content black">
          <span class="card-title amber-text text-accent-2">Bernarda Pierce</span>
          <p class='white-text'>
            I'm a web developer that is curious by trade. My previous background and experiences prepared me for life as a developer, there are many similarities, working as a team, problem solving and keeping up with constant changes.
            <br>
            <br>
            Skills:
            <br>
            • Front-end: HTML, CSS, React, Bootstrap
            <br>
            • Back-end: JavaScript, Node, Express, PostgreSQL
            <br>
            • Other: GitHub, Command Line, Responsive Design 
          </p>
        </div>
        <div class="card-action grey darken-3">
          <a href="https://www.linkedin.com/in/bernarda-pierce/" target='_blank'>LinkedIn</a>
          <a href="https://github.com/BernardaP" target='_blank'>GitHub</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4 full-width">
      <div class="card">
        <div class="card-image">
          <img src="https://media-exp1.licdn.com/dms/image/C5603AQEldjzcmARLKA/profile-displayphoto-shrink_800_800/0/1556820296886?e=1622073600&v=beta&t=FwaMSyZHvu7zW8Hh1fcKNhVSa4jaWel0aDKVA15W75I">
        </div>
        <div class="card-content black">
          <span class="card-title amber-text text-accent-2">Darius Raazi</span>
          <p class='white-text'> I am a software developer who has spent the last two years gaining experience at startups I have helped found. I really enjoy developing in react and would love the opportunity to continue expanding my skills. Most of my development experience has been with front end development, however I have really enjoyed learning about and working with SQL databases. 
          <br>
          The collaborative process has been a driving factor behind why I enjoy development. Working with others to find solutions to complex problems has always been something I've enjoyed doing. Please reach out to me if you have any questions. </p>
        </div>
        <div class="card-action grey darken-3">
          <a href="https://www.linkedin.com/in/dariusraazi/" target='_blank'>LinkedIn</a>
          <a href="https://github.com/dgr14" target='_blank'>GitHub</a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
