{% extends 'base.html' %} {% block content %}

<h1>About Us</h1>

<p class="flow-text">
  Lemon Log is Lorem ipsum dolor sit amet consectetur, adipisicing elit. A
  mollitia aspernatur ipsa rem! Eius quo temporibus dignissimos odio sapiente at
  ea itaque rerum voluptatibus, ipsum laudantium doloremque autem aspernatur
  cumque! Tius quo temporibus dignissimos odio sapiente at autem aspernatur ipsum laudantium
</p>

<div class="col s12 m7">
  <h2 class="header">Dev Team</h2>
  <div class="card large-screen">
    <div class="card-image">
      <img
        src="https://www.pngkey.com/png/detail/950-9501315_katie-notopoulos-katienotopoulos-i-write-about-tech-user.png"
      />
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <span class="card-title">Daniel Trejo</span>
            <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae ea
            aliquid reprehenderit suscipit nesciunt amet accusantium saepe
            perferendis asperiores ipsum omnis tempore dignissimos nisi sed
            tempora, est alias? elit.
            </p>
        </div>
        <div class="card-action">
          <a href="#">LinkedIn</a>
        </div>
    </div>
  </div>
  <div class="card large-screen">
    <div class="card-image">
      <img
        src="https://www.pngkey.com/png/detail/950-9501315_katie-notopoulos-katienotopoulos-i-write-about-tech-user.png"
      />
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <span class="card-title">Darius Raazi</span>
            <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae ea
            aliquid reprehenderit suscipit nesciunt amet accusantium saepe
            perferendis asperiores ipsum omnis tempore dignissimos nisi sed
            tempora, est alias? Vitae, delectus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            </p>
        </div>
        <div class="card-action">
          <a href="#">LinkedIn</a>
        </div>
    </div>
  </div>
  <div class="card large-screen">
    <div class="card-image">
      <img
        src="https://www.pngkey.com/png/detail/950-9501315_katie-notopoulos-katienotopoulos-i-write-about-tech-user.png"
      />
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <span class="card-title">Bernarda Pierce</span>
            <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae ea
            aliquid reprehenderit suscipit nesciunt amet accusantium saepe
            perferendis asperiores ipsum omnis tempore dignissimos nisi sed
            tempora, est alias? Vitae, delectus. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
        <div class="card-action">
          <a href="#">LinkedIn</a>
        </div>
    </div>
  </div>
</div>

{% comment %} <div class="bios">
  <h2>Dev Team</h2>
  <div class="bio-row">
    <img
      class="dev-img"
      src="https://www.pngkey.com/png/detail/950-9501315_katie-notopoulos-katienotopoulos-i-write-about-tech-user.png"
    />

    <h4>Daniel Trejo</h4>
    <p class="flow-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae ea
      aliquid reprehenderit suscipit nesciunt amet accusantium saepe perferendis
      asperiores ipsum omnis tempore dignissimos nisi sed tempora, est alias?
      Vitae, delectus.
    </p>
  </div>
</div>

<h4>Darius Raazi</h4>
<p class="flow-text">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae ea aliquid
  reprehenderit suscipit nesciunt amet accusantium saepe perferendis asperiores
  ipsum omnis tempore dignissimos nisi sed tempora, est alias? Vitae, delectus.
</p>

<h4>Bernarda Pierce</h4>
<p class="flow-text">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae ea aliquid
  reprehenderit suscipit nesciunt amet accusantium saepe perferendis asperiores
  ipsum omnis tempore dignissimos nisi sed tempora, est alias? Vitae, delectus.
</p> {% endcomment %}

{% endblock content %}
