.bio-row {
    /* width: 50%; */
    margin: 100px auto 100px auto;
    text-align: left;
}
.dev-img {
    width:25%;
    float: left;
    margin-right: 30px;
}

@media only screen and (min-width: 768px) {
    .large-screen {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .large-screen img {
        border-radius: 2px 0 0 2px;
        max-width: 100%;
        width: auto;
    }
    .large-screen .l-content {
        padding: 15px 5px 5px 15px;
       
    }
    .large-screen .l-action {
        padding: 5px 15px 5px;
    }
    .large-screen .l-content .l-title {
        margin-bottom: 0px;
    }
    .profile-edit{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 992px) {
   .l-action {
    margin-top: 35px;
   }
    .profile-edit{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } 
} 

@media only screen and (min-width: 1200px) {
    .l-action {
     margin-top: 130px;
    } 
} 
@media only screen and (min-width: 360px) {
    .profile-edit{
        display: flex;
        flex-direction: column;
        padding: 10px !important;
    }
    .edit-profile-btn{
        margin: 5px !important;
    }
} 