


.bio-row {
    /* width: 50%; */
    margin: 100px auto 100px auto;
    text-align: left;
}
.dev-img {
    width:25%;
    float: left;
    margin-right: 30px;
}


@media only screen and (min-width: 768px) {
    .large-screen {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .large-screen img {
        border-radius: 2px 0 0 2px;
        max-width: 100%;
        width: auto;
    }
    .card .card-content {
        padding: 15px 5px 5px 15px;
       
    }
    .card .card-action {
        padding: 5px 15px 5px;
    }
    .card .card-content .card-title {
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 992px) {
   .card-action {
    margin-top: 35px;
   } 
} 

@media only screen and (min-width: 1200px) {
    .card-action {
     margin-top: 130px;
    } 
 } 