
.container {
    margin-top: 2% !important;
}

.article-container {
    margin: 2% !important;
}


.your-comment {
    margin-left: 10px !important;
}  

footer {
    padding-top: 0;
    text-align: right;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
#footer {
    padding: 5px;
}    
.user-profile {
    padding: 10px !important;
}

.article-link {
    margin-right: 0 !important;
}
.card-content{
    padding: 10px 24px 24px 24px !important;
}
h4, .comment-username {
    margin-top: .1rem !important;
}
@media only screen and (min-width: 768px) {
    .large-screen {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .large-screen img {
        border-radius: 2px 0 0 2px;
        max-width: 100%;
        width: auto;
    }
    .large-screen .l-content {
        padding: 15px 5px 5px 15px;
       
    }
    .large-screen .l-action {
        padding: 5px 15px 5px;
    }
    .large-screen .l-content .l-title {
        margin-bottom: 0px;
    }
    .profile-edit{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 992px) {
   .l-action {
    margin-top: 35px;
   }
    .profile-edit{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } 
} 

@media only screen and (min-width: 1200px) {
    .l-action {
     margin-top: 130px;
    } 
} 
@media only screen and (min-width: 360px) {
    .profile-edit{
        display: flex;
        flex-direction: column;
        padding: 10px !important;
    }
    .edit-profile-btn{
        margin: 5px !important;
    }
} 
@media only screen and (max-width: 500px) {
    
    .full-width {
        width: 100vw !important;
        position: relative;
        left: 50% !important;
        right: 50% !important;
        margin-left: -50vw !important;
        overflow-x: hidden;
        
    }
    .user-profile {
        margin: 0 !important;
    }
    .username-container {
        margin-top: 0 !important;
    }
    .col {
        padding: 0 2.1px !important;
    }
    .row {
        margin-bottom: 0 !important;
    }
    .card {
        margin: 0 !important;
    }
    .comment-section {
        padding: 0 !important;
    }
    .home-card {
        margin-bottom: 10px !important;
    }
}