{% extends 'base.html' %} 
{% block content %} 
<div class="container username-container full-width">
<div class="col  s12 m6 l8 teal lighten-1 full-width">
    <h3 class="center-align white-text user-profile">{{user.username}}'s Profile</h3>
    
  </div>
{% comment %} <div>
 <h3 class="user-profile ">{{user.username}}'s Profile</h3>
</div> {% endcomment %}
<div style="height: 75vh" class="row">
  <div class="col m6 l4">
    <div class="row">
      <div class="col s12 m12">
        <div style="width: 100%; height: auto" class="card">
          <div class="card-image">
            {% if post %}
            <img
              class="img-fluid center-align"
              style="width: 100%"
              src="{{ post.photo.cdn_url }}-/stretch/fill/-/scale_crop/500x500/-/quality/lightest/"
              alt=""
            />
            {% else %}
            <img
              class="center-align"
              style="width: 100%"
              src="https://www.pngkey.com/png/detail/950-9501315_katie-notopoulos-katienotopoulos-i-write-about-tech-user.png"
            />
            {% endif %}
          </div>
          <div class="card-content">
            <span class="card-title blue-text text-darken-2"
              >{{user.username}}</span
            >
            <h5>{{user.first_name}} {{user.last_name}}</h5>
            <h5>{{user.email}}</h5>
            <h5>User Joined:</h5>
            <h5>{{user.date_joined| date:"F d Y" }}</h5>
            <h5>Age: {{user_info.user_age}}</h5>
            <h5>{{user_info.location}}</h5>
          </div>
          <div class="card-action profile-edit">
            <!-- Modal Trigger -->
            <a
              class="waves-effect waves-light btn modal-trigger edit-profile-btn"
              href="#modal1"
              >Edit Your Info</a
            >
            <a class="btn modal-trigger edit-profile-btn" href="#modal-photo">
              Upload Photo</a
            >
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
              <div class="modal-content">
                {% if error_message %}
                <p class="red-text">{{ error_message }}</p>
                {% endif %}
                <form method="post" action="{% url 'profile_edit' %}">
                  {% csrf_token %} {{ user_form.as_p }} {{ profile_form.as_p }}
                  <input type="submit" class="btn" value="Edit" />
                </form>
              </div>
            </div>
            <div id="modal-photo" class="modal">
              <div class="modal-content center-align">
                {% if error_message %}
                <p class="red-text">{{ error_message }}</p>
                {% endif %}
                <form
                  class="center-align"
                  action="{% url 'photo_edit' %}"
                  method="post"
                >
                  {% csrf_token %} {{ form }}
                  <button
                    class="btn waves-effect waves-light"
                    type="submit"
                    name="action"
                  >
                    Upload Picture<i class="material-icons right">send</i>
                  </button>
                </form>
                {% if post %}
                <div class="container">
                  <h3 style="margin-top: 20px">
                    This is your current Profile Image
                  </h3>
                  <img
                    class="img-fluid"
                    src="{{ post.photo.cdn_url }}-/resize/600x600/-/quality/lightest/"
                    alt=""
                  />
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l8 teal lighten-1 full-width">
    <h5 class="center-align white-text">Your comments</h5>
    
  </div>
  
  <div style="overflow-y: scroll; height: 75%" class="col m6 l8">
    <div class="col s12 m12">
    {% if comment %}
      {% for comment in comment %}
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <h4>{{ comment.article.product_name}}</h4>
            <p>{{ comment.content }}</p>
            <p class="grey-text text-darken-1">
              Posted On: {{ comment.creation_date}}
            </p>
          </div>
          <div class="card-action">
            <a href="{% url 'review' comment.article.url %}">View Article</a>
            <a
              class="waves-effect waves-light btn modal-trigger edit-profile-btn"
              href="#edit-comment{{forloop.counter}}"
              >Edit Comment</a
            >            
            <div id="edit-comment{{forloop.counter}}" class="modal">
              <div class="modal-content">
                {% if error_message %}
                <p class="red-text">{{ error_message }}</p>
                {% endif %}
                <form method="post" action="{% url 'edit_comment' comment.id %}">
                  {% csrf_token %} 
                  <input type="text" value="{{ comment.content }}" name="content" required>
                  <input type="submit" class="btn" value="Edit" />
                </form>
              </div>
            </div>
            <form method="post" action="{% url 'delete_comment' comment.id %}">
              {% csrf_token %} 
              <input type="submit" class="waves-effect waves-light btn" value="Delete" />
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
    <h5 class="center-align">You have no comments yet.</h5>
    {% endif %}
    </div>
  </div>
      <div class="col s12 m6 l8 teal lighten-1 full-width">
    <h6 class="center-align white-text">Your total number of comments is: {{ comment_amount}}</h6>
    
  </div>
</div>
</div>
{% endblock content %}
