{% extends 'base.html' %} {% block content %}
<div class="container username-container full-width">
  <div class="col s12 m6 l8 teal lighten-1 full-width">
    <h3 class="center-align white-text user-profile">
      {{user.username}}'s Profile
    </h3>
  </div>
  {% comment %}
  <div>
    <h3 class="user-profile">{{user.username}}'s Profile</h3>
  </div>
  {% endcomment %}
  <div class="row profile-vh">
    <div class="col m6 l4">
      <div class="row">
        <div class="col s12 m12">
          <div class="card profile-card">
            <div class="card-image">
              {% if post %}
              <img
                class="img-fluid center-align"
                style="width: 100%"
                src="{{ post.photo.cdn_url }}-/stretch/fill/-/scale_crop/500x500/-/quality/lightest/"
                alt=""
              />
              {% else %}
              <img
                class="center-align"
                style="width: 100%"
                src="https://www.pngkey.com/png/detail/950-9501315_katie-notopoulos-katienotopoulos-i-write-about-tech-user.png"
              />
              {% endif %}
            </div>
            <div class="card-content">
              <span class="card-title blue-text text-darken-2"
                >{{user.username}}</span
              >
              <h5>{{user.first_name}} {{user.last_name}}</h5>
              <h5>User Joined:</h5>
              <h5>{{user.date_joined| date:"F d Y" }}</h5>
              <h5>{{user_info.location}}</h5>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l8 teal lighten-1 full-width">
      <h5 class="center-align white-text">{{user.username}}'s comments</h5>
    </div>
    <div class="col s12 m6 l8 profile-comment-section">
      <div class="col s12 m12">
        {% if comment %} {% for comment in comment %}
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <h4>{{ comment.article.product_name}}</h4>
              <p>{{ comment.content }}</p>
              <p class="grey-text text-darken-1">
                Posted On: {{ comment.creation_date}}
              </p>
            </div>
            <div class="card-action profile-edit">
              <a
                class="article-link center-align"
                href="{% url 'review' comment.article.url %}"
                >View Article</a
              >
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <h5 class="center-align">You have no comments yet.</h5>
        {% endif %}
      </div>
    </div>
    <div class="col s12  teal lighten-1 full-width">
      <h6 class="center-align white-text">
        {{user.username}}'s number of comments is: {{ comment_amount}}
      </h6>
    </div>
  </div>
</div>
{% endblock content %}
